<ng-container *ngIf="user; else loading">
  <mat-card>
    <mat-card-title>{{ user.fullName }}</mat-card-title>
    <mat-card-subtitle> {{ user.additionalName }}</mat-card-subtitle>
    <mat-card-content>
      <p>Phone number: {{ user.phoneNumber }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openEditUserDialog()">
        Edit
      </button>
      <button class="mat-raised-button mat-warn" (click)="delete()">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title>Projects</mat-card-title>
    <mat-card-content class="container">
      <br /><br />
      <table mat-table [dataSource]="projectsSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>PROJECT NAME</th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>
        <ng-container matColumnDef="membersTotal">
          <th mat-header-cell *matHeaderCellDef>MEMBERS COUNT</th>
          <td mat-cell *matCellDef="let row">{{ row.membersTotal }}</td>
        </ng-container>
        <ng-container matColumnDef="projectPage">
          <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
          <td mat-cell *matCellDef="let row">
            <a routerLink="/project/{{ row.id }}">
              <mat-icon>visibility</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button
        class="mat-raised-button mat-accent"
        (click)="openCreateProjectDialog()"
      >
        Create
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
<ng-template #loading>Loading…</ng-template>
