<h2 mat-dialog-title>Edit user</h2>
<ng-container *ngIf="user">
  <mat-dialog-content>
    <mat-card-content>
      <div class="user-form-container">
        <mat-form-field>
          <input
            matInput
            placeholder="Enter full name"
            [(ngModel)]="user.fullName"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Enter additional name"
            [(ngModel)]="user.additionalName"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Enter phone number"
            [(ngModel)]="user.phoneNumber"
          />
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-dialog-content>
</ng-container>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
