<h2 mat-dialog-title>Create a project</h2>
<ng-container>
  <mat-dialog-content>
    <mat-card-content>
      <div class="user-form-container">
        <form [formGroup]="options">
          <mat-form-field>
            <input
              matInput
              placeholder="Enter project name"
              required
              formControlName="projectName"
            />
          </mat-form-field>
        </form>
      </div>
    </mat-card-content>
  </mat-dialog-content>
</ng-container>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button
    [disabled]="isNameEmpty()"
    class="mat-raised-button mat-primary"
    (click)="create()"
  >
    Create
  </button>
</mat-dialog-actions>
