<h2 mat-dialog-title>Add member</h2>
<ng-container>
  <mat-dialog-content>
    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter name"
          [matAutocomplete]="auto"
          [formControl]="memberCtrl"
          (input)="setToNullOnInput()"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="memberClick($event.option.value)"
        >
          <mat-option
            *ngFor="let user of filteredUsers | async"
            [value]="user.fullName"
          >
            <span>{{ user.fullName }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-dialog-content>
</ng-container>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button
    class="mat-raised-button"
    [disabled]="selectedMember === null"
    (click)="addMember()"
  >
    Add
  </button>
</mat-dialog-actions>
