<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Register
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- CREATING FORM START -->

    <form
      class="user-form-container"
      [formGroup]="userForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-card-content>
        <div class="user-form-container">
          <mat-form-field>
            <input
              matInput
              placeholder="Full name"
              formControlName="fullName"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Login name"
              formControlName="additionalName"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Password"
              formControlName="password"
              type="password"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Phone number"
              formControlName="phone"
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          [disabled]="!userForm.valid"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Create
        </button>
        <button type="reset" click="revert()" mat-raised-button color="warn">
          Reset
        </button>
      </mat-card-actions>
    </form>
    <!-- CREATING FORM END -->
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Login
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form
      class="user-form-container"
      [formGroup]="loginForm"
      (ngSubmit)="onLogin()"
    >
      <mat-card-content>
        <div class="user-form-container">
          <mat-form-field>
            <input
              matInput
              placeholder="Login name"
              formControlName="additionalName"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Password"
              formControlName="password"
              type="password"
              required
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          [disabled]="!loginForm.valid"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Login
        </button>
      </mat-card-actions>
    </form>
    <ng-template #loading>Loading…</ng-template>
  </mat-expansion-panel>
</mat-accordion>
<!-- 
<ng-container *ngIf="users$ | async as users; else loading">
  <mat-form-field>
    <mat-label>Select an user</mat-label>
    <mat-select (selectionChange)="selectUser($event.value)">
      <mat-option [value]="">None</mat-option>
      <mat-option *ngFor="let user of users" [value]="user">{{
        user.fullName
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</ng-container> -->
