<ng-container *ngIf="project; else loading">
  <mat-card>
    <mat-card-title>
      {{ project.name }}
      <a routerLink="/user/{{ project.owner.id }}">
        <button mat-button color="primary">
          {{ project.owner.name }}
        </button>
      </a>
    </mat-card-title>

    <mat-card-subtitle>
      <mat-form-field>
        <mat-label>Members</mat-label>
        <mat-select (selectionChange)="selectMember($event.value)">
          <mat-option
            *ngFor="let member of project.members"
            [value]="member.id"
          >
            {{ member.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="mat-button" (click)="openAddMemberDialog()">
        Add member
      </button>
    </mat-card-subtitle>

    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Assignments">
          <mat-list>
            <mat-list-item *ngFor="let assignment of project.assignments">
              <h2 mat-line>
                <s *ngIf="assignment.completed; else notStriked">
                  {{ assignment.name }}
                </s>
                <ng-template #notStriked>{{ assignment.name }}</ng-template>
              </h2>
              <p class="description" mat-line>{{ assignment.description }}</p>
              <mat-checkbox
                [ngModel]="assignment.completed"
                (change)="changeAssignmentStatus(assignment)"
              >
              </mat-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-tab>
        <mat-tab label="Create">
          <div class="user-form-container">
            <form
              class="user-form-container"
              [formGroup]="assignmentForm"
              (ngSubmit)="onSubmit()"
              #f="ngForm"
            >
              <mat-form-field>
                <input
                  matInput
                  placeholder="Enter title"
                  formControlName="name"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <textarea
                  matInput
                  placeholder="Enter description"
                  formControlName="description"
                ></textarea>
              </mat-form-field>
              <button
                [disabled]="!assignmentForm.valid"
                type="submit"
                mat-raised-button
                color="primary"
              >
                Create
              </button>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #loading>Loading…</ng-template>
